.accordion {
  position: relative;
}

.accordion h3 {
  margin: 0 0 25px;
  font-family: $roboto-condensed;
  font-size: 15px;
  font-weight: normal;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.accordion__btn {
  display: none;
}

@media (max-width: $mobile) {
  .accordion__btn--site,
  .accordion__btn--office {
    display: block;
    position: absolute;
    top: 27px;
    right: 2px;
    width: 30px;
    height: 30px;
    background-image: url("../img/icon-plus.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;


    &:hover,
    &focus {
      opacity: 0.6;
    }
  }

  .accordion-site--closed .accordion__list-site,
  .accordion-office--closed .accordion__list-office {
    display: none;
  }

  .accordion-site--opened .accordion__list-site,
  .accordion-office--opened .accordion__list-office {
    display: block;
  }

  .accordion-site--opened .accordion__btn--site,
  .accordion-office--opened .accordion__btn--office {
    background-image: url("../img/icon-minus.svg");
    background-repeat: no-repeat;
    top: 30px;
  }
}
