.btn {
  display: block;
  min-width: 180px;
  font-family: $roboto-condensed;
  font-weight: bold;
  color: $white;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--question {
    min-width: 270px;
    min-height: 45px;
    padding: 14px 18px;
    background: transparent;
    border: 1px solid $white;
  }
}

@media (max-width: $tablet) {
  .btn--question {
    min-width: 280px;
    margin: 0;
  }
}

@media (max-width: $mobile) {
  .btn--question {
    margin-right: 0;
    width: 100%;
    margin-bottom: 28px;
  }
}
