.contacts {
  position: relative;
  min-height: 670px;
  background-color: $blue;
  background-image: url("../img/paper_airplane.png"), url("../img/whiteBluetriangles.svg"), url("../img/blue-bg.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: calc(44% - 295px) 160px, calc(40% - 365px) - 60px, 0 0;
  padding: 90px 40px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/paper_airplane@2x.png"), url("../img/whiteBluetriangles.svg"), url("../img/blue-bg.png");
    background-repeat: no-repeat;
    background-position: calc(44% - 295px) 160px, calc(40% - 365px) - 60px, 0 0;
    background-size: 511px 288px, auto, auto;
  }
}

.contacts__wrapper {
  max-width: 576px;
  margin-left: 51%;
  margin-right: 130px;

  @media (max-width: 1390px) {
    margin-left: 46%;
    margin-right: 0;
  }
}


.contacts__wrapper form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts h2 {
  margin: 0 0 10px;
  font-family: $roboto-condensed;
  font-size: 36px;
  line-height: 51px;
  color: $white;
  font-weight: normal;
}

.contacts p {
  margin: 0;
  color: $white;
  line-height: 22px;
}

@media (max-width: $tablet) {
  .contacts {
    min-height: 662px;
    padding: 80px 85px 103px 90px;
    background-image: none;
  }

  .contacts__container {
    background-image: none;
  }

  .contacts h2 {
    font-size: 32px;
    margin-bottom: 12px;
  }

  .contacts p {
    margin-top: 0;
  }

  .contacts__wrapper {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
}

// Mobile

@media (max-width: $mobile) {
  .contacts {
    min-height: 640px;
    padding: 31px 0 39px;
  }

  .contacts h2 {
    font-size: 27px;
    line-height: 39px;
    letter-spacing: 0.02em;
    margin-bottom: 15px;
  }

  .contacts__container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .contacts__wrapper {
    margin: 0;

    form {
      flex-direction: column;
    }
  }
}
