.contacts {
  position: relative;
  min-height: 670px;
  background-color: $blue;
  background-image: url("../img/blue-bg.png");
  background-repeat: no-repeat;
  background-position: left -200px top -60px;
  padding: 90px 40px;
}

.contacts__container {
  background-image: url("../img/paper_airplane.png");
  background-position: left 110px top 70px;
  background-repeat: no-repeat;
  background-size: 511px 288px;
}

.contacts__wrapper {
  max-width: 576px;
  margin-left: auto;
  margin-right: 130px;
}


.contacts__wrapper form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts h2 {
  margin: 0 0 10px;
  font-family: $roboto-condensed;
  font-size: 36px;
  line-height: 51px;
  color: $white;
  font-weight: normal;
}

.contacts p {
  margin: 0;
  color: $white;
  line-height: 22px;
}

@media (max-width: $tablet) {
  .contacts {
    min-height: 662px;
    padding: 80px 85px 103px 90px;
    background-image: none;
  }

  .contacts__container {
    background-image: none;
  }

  .contacts h2 {
    font-size: 32px;
    margin-bottom: 12px;
  }

  .contacts p {
    margin-top: 0;
  }

  .contacts__wrapper {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
}

// Mobile

@media (max-width: $mobile) {
  .contacts {
    min-height: 640px;
    padding: 31px 0 39px;
  }

  .contacts h2 {
    font-size: 27px;
    line-height: 39px;
    letter-spacing: 0.02em;
    margin-bottom: 15px;
  }

  .contacts__container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .contacts__wrapper {
    margin: 0;

    form {
      flex-direction: column;
    }
  }
}
