.footer {
  background-color: $footer-background;
  flex-shrink: 0;
}

.footer__container {
  padding: 65px 17px 55px;
}

.footer__copyright {
  border-top: 1px solid rgba(98, 105, 98, 0.2);
}

.footer__main-content {
  display: flex;
  justify-content: space-between;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  padding: 14px 17px;
}

.footer__copyright-text {
  margin: 0;
  text-transform: uppercase;
  color: $gray;
  opacity: 0.5;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &--rights {
    margin-right: 75px;
  }

  &--desktop {
    margin-right: 141px;
  }
}

.footer__copyright-link {
  &:last-of-type {
    margin-left: auto;
  }
}


// Tablet

@media (max-width: $tablet) {
  .footer__container {
    padding: 19px 0 26px;
  }

  .footer__main-content {
    flex-wrap: wrap;
  }

  .footer__wrapper {
    padding: 22px 25px;
  }

  .footer__copyright-text {
    &--rights,
    &--desktop {
      display: none;
    }
  }

  .footer__copyright-link--confidential {
    margin: 0;
  }
}

// Mobile {
@media (max-width: $mobile) {
  .footer {
    overflow: hidden;
  }

  .footer__copyright {
    border: none;
    padding-bottom: 25px;
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0 27px;
  }

  .footer__copyright-link {
    margin: 0 0 20px;

    &:last-of-type {
      margin: 0;
    }
  }
}
