.form {
  margin-top: 52px;
}

label [type= "text"],
label [type= "tel"],
textarea {
  width: 100%;
  margin-bottom: 40px;
  padding: 14px 16px;
  border: none;
  border-radius: 0;
  background-color: #19baff;
  outline: none;
  color: $white;
  font-size: 16px;
  line-height: 22px;
  font-family: $pt-mono;

  &:hover,
  &:focus {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &::placeholder {
    color: $white;
    opacity: 1;
  }
}

input:not([type="checkbox"]) {
  height: 50px;
}

textarea {
  min-height: 158px;
  resize: none;
  width: 100%;
}

button {
  font-family: $roboto-condensed;
  width: 270px;
  min-height: 45px;
  background: none;
  border-radius: 5px;
  color: $white;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  padding: 14px 18px;
  background: transparent;
  border: 1px solid $white;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

}

label {
  cursor: pointer;
  width: calc(50% - 15px);

  &:hover span,
  &:focus-within span {
    opacity: 1;
  }

  &:active span {
    opacity: 0.5;
  }

  span {
    font-family: $pt-mono;
    position: relative;
    display: block;
    margin-left: 11px;
    padding-top: 7px;
    padding-left: 32px;
    width: 230px;
    opacity: 0.8;
    color: $white;
    font-size: 14px;
    line-height: 16px;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid $white;
    }
  }

  input:checked + span::before {
    background-image: url("../../img/icon-check.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

// Tablet
@media (max-width: $tablet) {
  textarea {
    margin-bottom: 48px;
    min-height: 164px;
  }

  button {
    min-width: 280px;
    margin: 0;
  }

  label  span {
    width: 240px;

    &::before {
      top: 12px;
    }
  }
}

// Mobile

@media (max-width: $mobile) {
  .form {
    margin-top: 33px;
  }

  input {
    margin-bottom: 33px;
  }

  textarea {
    min-height: 100px;
    margin-bottom: 32px;
  }

  .form__submit {
    flex-direction: column;
  }

  [type="text"],
  [type="tel"] {
    width: 100%;
  }

  button {
    margin-right: 0;
    width: 100%;
    margin-bottom: 28px;
  }

  label {
    width: 100%;
  }
}
