.form {
  margin-top: 52px;
}

[type= "text"],
[type= "tel"],
textarea {
  width: 100%;
  margin-bottom: 40px;
  padding: 14px 16px;
  border: none;
  border-radius: 0;
  background-color: #19baff;
  color: $white;

  &:hover,
  &:focus {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &::placeholder {
    color: $white;
  }
}

input:not([type="checkbox"]) {
  height: 50px;
}

textarea {
  min-height: 158px;
  resize: none;
}

.form__submit {
  display: flex;
  align-items: center;
}

[type="text"],
[type="tel"] {
  width: calc(50% - 15px);
}

label {
  display: inline-block;
  color: rgba(255,255,255,.8);
  font-size: 14px;
  line-height: 16px;
  padding-left: 30px;
  position: relative;
  width: 45%;
  align-self: center;
}

input[type="checkbox"] {
  cursor: pointer;
  padding: 0;
  position: absolute;
  left: -4px;
}
input[type="checkbox"]:before {
  content: "";
  display: inline-block;
  margin-top: 0px;
  width: 16px;
  height: 16px;
  background: $blue;
  border: 1px solid rgba(255,255,255, 0.8);
  border-radius: 2px;
}

input[type="checkbox"]:checked:before {
  background: $blue;
  border-color: $white;
}

input[type="checkbox"]:checked:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 7px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

// Tablet
@media (max-width: $tablet) {
  textarea {
    margin-bottom: 48px;
    min-height: 164px;
  }

  [type="checkbox"] + label {
    padding-left: 37px;

    &::before {
      top: 9px;
      left: -8px;
    }
  }
}

// Mobile

@media (max-width: $mobile) {
  .form {
    margin-top: 33px;
  }

  input {
    margin-bottom: 33px;
  }

  textarea {
    min-height: 100px;
    margin-bottom: 32px;
  }

  .form__submit {
    flex-direction: column;
  }

  [type="text"],
  [type="tel"] {
    width: 100%;
  }

  label {
    width: 100%;
  }
}
