.intro {
  color: $white;
}

.intro__wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 198px 15px 87px;
}

.intro h2 {
  margin-top: 0;
  margin-bottom: 27px;
  font-family: $roboto-condensed;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  color: $white;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.intro p {
  margin-top: 0;
  margin-bottom: 45px;
  width: 52%;
  padding-left: 98px;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: $white;

  &::before {
    position: absolute;
    content: "";
    top: 16px;
    left: 3px;
    display: block;
    width: 66px;
    height: 2px;
    background: $white;
  }
}

.intro__button {
  max-width: 407px;
  margin-left: 95px;
  margin-bottom: 173px;
  padding: 18px 28px 16px;
  font-size: 16px;
  line-height: 19px;

  background-color: $blue;
  color: $white;

  &--mobile {
    display: none;
  }
}

.intro__button-scroll {
  position: relative;
  display: block;
  transform-origin: left bottom;
  margin-left: 18px;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.5;
  transform: rotate(-90deg);
  color: $white;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

// Tablet width

@media (max-width: $tablet) {
  .intro__wrapper {
    padding-top: 97px;
    padding-left: 85px;
    padding-bottom: 112px;
  }

  .intro h2 {
    width: 50%;
    font-size: 60px;
    line-height: 70px;
  }

  .intro p {
    font-size: 18px;
    line-height: 28px;
    padding-left: 53px;
    margin-bottom: 55px;
    width: 80%;

    &::before {
      width: 33px;
      height: 2px;
      left: 5px;
    }
  }

  .intro__button {
    max-width: 379px;
    margin-left: 53px;
    margin-bottom: 50px;
    padding: 17px 14px 14px 14px;
    line-height: 19px;
    min-height: 55px;
  }

  .intro__button-scroll {
    display: none;
  }
}

// Mobile

@media (max-width: $mobile) {
  .intro__wrapper {
    padding: 215px 10px 69px 15px;
  }

  .intro h2 {
    width: 100%;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 27px;
  }

  .intro p {
    width: 100%;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 42px;
  }

  .intro__button {
    display: block;
    margin: 0 auto;
    min-width: 287px;

    &--mobile {
      display: block;
    }

    &--desk {
      display: none;
    }
  }
}
