.products {
  background-color: #1b2d37;
  padding: 90px 30px 97px;
}

.products h2 {
  color: $white;
  margin: 0;
  margin-bottom: 52px;
  font-family: $roboto-condensed;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
}

.products__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products__item {
  width: calc(33% - 15px);
  height: 620px;
  margin-bottom: 30px;
  position: relative;
  display: block;
  overflow: hidden;

  &:hover,
  &:focus {
    opacity: 0.6;
    transition: all 0.6s;
  }

  &::after {
    position: sticky;
    content: "";
    display: block;
    left: 83%;
    top: 90%;
    background-image:  url("../img/icon-move.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-color: $blue;
    width: 63px;
    height: 63px;
  }
}

.products__item--first {
  background-image: url("../img/offer-desk-1.png");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/offer-desk-1@2x.png");
    background-size: 370px 620px;
  }
}

.products__item--second {
  background-image: url("../img/offer-desk-2.png");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/offer-desk-2@2x.png");
    background-size: 370px 620px;
  }
}

.products__item--third {
  background-image: url("../img/offer-desk-3.png");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/offer-desk-3@2x.png");
    background-size: 370px 620px;
  }
}


.products__item h3 {
  margin: 0;
  position: absolute;
  font-family: $roboto-condensed;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $white;
  max-width: 64%;
  padding: 50px 30px 187px 45px;
}

// Tablet

@media (max-width: $tablet) {
  .products {
    padding: 50px 0 0;
  }

  .products__wrapper {
    padding: 50px 25px 30px;
  }

  .products h2 {
    font-size: 32px;
    line-height: 45px;
    max-width: 85%;
    margin-bottom: 0;
    padding-left: 25px;
  }

  .products__list {
    flex-direction: column;
  }

  .products__item {
    width: 100%;
    height: 256px;
    margin-right: 0;
    margin-bottom: 46px;
    background-size: cover;

    &::after {
      top: 100%;
      left: 100%;
    }
  }

  .products__item--first {
    background-image: url("../img/offer-tablet-1.png");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/offer-tablet-1@2x.png");
      background-size: cover;
    }
  }

  .products__item--second {
    background-image: url("../img/offer-tablet-2.png");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/offer-tablet-2@2x.png");
      background-size: cover;
    }
  }

  .products__item--third {
    background-image: url("../img/offer-tablet-3.png");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/offer-tablet-3@2x.png");
      background-size: cover;
    }
  }

  .products__item h3 {
    max-width: 33%;
    padding: 38px 4px 98px 46px;
  }
}

// Mobile

@media (max-width: $mobile) {
  .products {
    padding: 0;
    padding-top: 50px;
  }

  .products__wrapper {
    padding: 45px 15px 33px;
  }

  .products h2 {
    font-size: 28px;
    line-height: 39px;
    max-width: 95%;
    margin: 0;
  }

  .products__item {
    margin-bottom: 30px;
    background-size: cover;
  }

  .products__item--first {
    background-image: url("../img/offer-mobile-1.png");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/offer-mobile1@2x.png");
      background-size: cover;
    }
  }

  .products__item--second {
    background-image: url("../img/offer-mobile-2.png");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/offer-mobile-2@2x.png");
      background-size: cover;
    }
  }

  .products__item--third {
    background-image: url("../img/offer-mobile3.png");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/offer-mobile-3@2x.png");
      background-size: cover;
    }
  }
}
